# WordPress
wp-config.php
wp-content/plugins/
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
*.log
wp-content/cache/
wp-content/backups/
sitemap.xml
.DS_Store

# UI Build
wp-content/themes/tka/.sass-cache/
wp-content/themes/tka/.sass-cache/*
wp-content/themes/tka/scss-lint-report.xml
wp-content/themes/tka/.tmp/
wp-content/themes/tka/node_modules/
wp-content/themes/tka/src/bower_components
