/* ==============================================
   Vertical Center
============================================== */

.vcenter {
  display: table;
  width: 100%;
  height: 100%;
}

.vcenter__inner {
  display: table-cell;
  vertical-align: middle;
}
