/* ==============================================
   Footer
============================================== */

.page-foot {
  margin: 80px 0 0;
}

/* Cookie Swap
------------------------------------ */
.cookie-swap {
  display: block;
  width: 130px;
  margin: 0 auto 20px;
}


/* Copyright
------------------------------------ */
.copyright {
  text-align: center;
  font-family: $sans-family;
  font-size: 15px;
  color: #a1a1a1;
}
