/* ==============================================
   Main
============================================== */


/* Body variations
------------------------------------ */
body {
  background: #fff;
  overflow-x: hidden;
  transition: background .5s ease;

  &.home {
    background: #f5f5f5;
  }
}


/* Main Content
------------------------------------ */
.main {
  padding-top: 30px;
  padding-bottom: 60px;
  transition: opacity .3s ease;

  @include breakpoint('mobile-up') {
    padding-top: 70px;
  }

  @include breakpoint('desktop-up') {
    max-width: inherit;
    width: auto;
    margin: 0 90px 0 250px;
    padding-top: 70px;
  }

  @include breakpoint('max-only') {
    body.single & {
      margin-left: 100px;
    }
  }

  &.is-loading {
    opacity: 0;
  }
}


/* Page
------------------------------------ */
.page-header {
  margin: 0 0 38px;
  text-align: center;

  h1 {
    font-size: 36px;
  }
}
